
:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(232, 144, 217);
    --bg-color: rgb(194, 144, 232);
    --font-color: rgb(194, 58, 167);
    --heading-color: rgb(156, 44, 212);

}

[data-theme="dark"] {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(38, 121, 135);
    --bg-color: rgb(45, 107, 69);
    --font-color: rgb(147, 196, 189);
    --heading-color: rgb(149, 196, 147);
}
  
header, body {background-color: var(--bg-color);}
